/* Title (top bar) area */
/* -------------------- */

#projectlogo
{
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

#projectname
{
    font: 200% "calibri", Arial, sans-serif;
    margin: 0px;
    padding: 2px 0px;
    color: white;
}

#titlearea
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: 0px solid #5373B4;
    background-color: #37424a;
}

#top
{
    height: 56px;
}

/* Main tabs / search area (2nd bar from top) */
/* ------------------------------------------ */

.tabs {
    visibility: hidden;
}

/* Footer */
/* ------ */

.navpath ul
{
    font-size: 11px;
    background-image:url('images/transparent-pixel.png');
    background-size: 1px 36px;
    background-color: #43474C;
    background-repeat:repeat-x;
    background-position: 0 -5px;
    height:30px;
    line-height:30px;
    color: #8AA0CC;
    border:solid 0px #C2CDE4;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.navpath li.footer
{
    list-style-type:none;
    float:right;
    padding-left:10px;
    padding-right:15px;
    background-image:none;
    background-repeat:no-repeat;
    background-position:right;
    color:#D7D9DB;
    font-size: 8pt;
    margin-top: 0px;
}

/* Table of contents panel */
/* ----------------------- */

#nav-tree {
    padding: 0px 0px;
    background-color: rgb(242, 242, 242); 
    font-size:14px;
    overflow:auto;
}

#nav-tree .selected {
    background-image: url('images/transparent-pixel.png');
	  background-color: rgb(54, 101, 126);
	  background-repeat:repeat-x;
	  color: #fff;
	  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1.0);
}

#nav-tree {
    background-image:url('images/transparent-pixel.png');
    background-repeat:repeat-x;
    background-color: rgb(242, 242, 242);
    -webkit-overflow-scrolling : touch; /* iOS 5+ */
}

/* Dividing bar between TOC panel and page content */
/* ----------------------------------------------- */

.ui-resizable-e {
    background:url("images/transparent-pixel.png") repeat scroll right center transparent;
    background-color: #43474C;
    cursor:e-resize;
    height:100%;
    right:0;
    top:0;
    width:6px;
}

/* Main Topics page */
/* ---------------- */

.directory tr.even {
    padding-left: 6px;
    background-color: rgb(242, 242, 242);
}

/* Page titles */
/* ----------- */

div.header
{
    visibility: hidden;
    height: 0px;
}

/*
div.header
{
    background-image:url('images/transparent-pixel.png');
    background-repeat:repeat-x;
    background-color: #C3C8C8;
    margin:  0px;
    border-bottom: 0px solid #C4CFE5;
}
*/

/* Page content headings */
/* --------------------- */

h1 {
    font-size: 120%;
    margin-top: 25px;
}

/* Suppress h2s */

h2 {
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
}

/* Links */
/* ----- */

a:hover {
    text-decoration: none;
    color: rgb(240, 171, 0) !important;
}

/* Links in TOC panel */

#nav-tree a {
    font-weight: normal;
    text-decoration: none;
}

/* Links in main topics pages */

a {
    font-weight: 600;
    text-decoration: none;
}

a.el {
    font-weight: 600;
    text-decoration: none;
}

.expandContent {
    color: #747474;
    font-weight: 600;
    text-decoration: none;
}

.expandContent:hover {
    text-decoration: none;
    color: rgb(240, 171, 0) !important;
    cursor: pointer;
}


/* Notes and other admonitions */
/* --------------------------- */

blockquote {
    background-color: rgb(242, 242, 242);
	  border-left: 2px solid #43474C;
	  margin: 0 24px 0 4px;
	  padding: 0 12px 0 16px;
}

/* Tables */
/* ------ */

table.doxtable th {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #43474C;
    color: #FFFFFF;
    font-size: 110%;
    padding-bottom: 5px;
    padding-top: 5px;
}

table.doxtable td {
    border-top: none;
    border-bottom: 2px solid #A5ACAF;
    border-left: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
    padding: 5px 7px 5px;
}

#threecolumnstopaligned tr > td:first-child
{
    vertical-align: text-top;
    width: 20%;
}

#threecolumnstopaligned tr > td:first-child + td
{
    vertical-align: text-top;
    width: 20%;
}

#threecolumnstopaligned tr > td:first-child + td + td
{
    vertical-align: text-top;
    width: 20%;
}

/* Images / Diagrams */
/* ----------------- */

#shadow
{
    margin: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

.image
{
    text-align: left;
    display: inline;
}

/* List items */
/* ---------- */

/* Make nested ordered lists generated from HTML syntax behave like those generated from Markdown */

#loweralpha
{
    list-style-type: lower-alpha;
}

/* Text content */
/* ------------ */

ul {
    display: block;
    margin: 5px 0;
    content: " ";
}

ol {
    display: block;
    margin: 5px 0;
    content: " ";
}

li {
    list-style-type: none;
    margin-top: 5px;
}

br {
    display: block;
    margin: 5px 0;
    content: " ";
}
