/* Table of contents panel */
/* ----------------------- */

/* Make TOC panel width smaller if browser size goes below a certain width. */

#side-nav {
  width: 250px;
}

#doc-content {
  margin-left: 256px;
}