/* Table of contents panel */
/* ----------------------- */

/* Make TOC panel width bigger if browser size goes beyond a certain width. */

#side-nav {
  width: 400px;
}

#doc-content {
  margin-left: 406px;
}