/* Title (top bar) area */
/* -------------------- */

#projectlogo
{
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

#projectname
{
    font: 200% "calibri", Arial, sans-serif;
    margin: 0px;
    padding: 2px 0px;
    color: white;
}

#titlearea
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: 0px solid #5373B4;
    background-color: #37424a;
}

/* Language dropdown */
/* ----------------- */

#languages
{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

#languages select
{
    font: 400 14px/22px Roboto,sans-serif;
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-color: #fff;
}

#languages select:focus
{
    outline: none;
}

/* Main tabs / search area (2nd bar from top) */
/* ------------------------------------------ */

.tabs, .tabs2, .tabs3 {
    background-image: url('images/transparent-pixel.png');
    background-size: 1px 36px;
    background-color: #43474C;
    /* #818A8F (lighter grey) */
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

.tablist a:hover {
    background-image: url('images/transparent-pixel.png');
    background-color: rgb(54, 101, 126);
    background-size: 1px 36px;
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.tablist li {
    float: left;
    display: table-cell;
    background-image: url('images/transparent-pixel.png');
    background-size: 1px 36px;
    line-height: 36px;
    list-style: none;
    margin-top: 0px;
}

.tablist a {
    display: block;
    padding: 0 20px;
    /* font-weight: bold; */
    background-image:url('images/transparent-pixel.png');
    background-repeat:no-repeat;
    background-position:right;
    /* color: #283A5D; */
    color: #fff;
    /* text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9); */
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
}

.tablist li.current a {
    background-image: url('images/transparent-pixel.png');
    background-color: rgb(54, 101, 126);
    background-size: 1px 36px;
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1.0);
    margin-top: 0px;
}

.tabsearch {
    top: 0px;
    left: 10px;
    height: 36px;
    background-image: url('images/transparent-pixel.png');
    z-index: 101;
    overflow: hidden;
    font-size: 13px;
}

/* Footer */
/* ------ */

.navpath ul
{
    font-size: 11px;
    background-image:url('images/transparent-pixel.png');
    background-size: 1px 36px;
    background-color: #43474C;
    background-repeat:repeat-x;
    background-position: 0 -5px;
    height:30px;
    line-height:30px;
    color: #8AA0CC;
    border:solid 0px #C2CDE4;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.navpath li.footer
{
    list-style-type:none;
    float:right;
    padding-left:10px;
    padding-right:15px;
    background-image:none;
    background-repeat:no-repeat;
    background-position:right;
    color:#D7D9DB;
    font-size: 8pt;
    margin-top: 0px;
}

/* Table of contents panel */
/* ----------------------- */

#nav-tree {
    padding: 0px 0px;
    background-color: rgb(242, 242, 242); 
    font-size:14px;
    overflow:auto;
}

#nav-tree .selected {
    background-image: url('images/transparent-pixel.png');
	  background-color: rgb(54, 101, 126);
	  background-repeat:repeat-x;
	  color: #fff;
	  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1.0);
}

#nav-tree {
    background-image:url('images/transparent-pixel.png');
    background-repeat:repeat-x;
    background-color: rgb(242, 242, 242);
    -webkit-overflow-scrolling : touch; /* iOS 5+ */
}

/* Dividing bar between TOC panel and page content */
/* ----------------------------------------------- */

.ui-resizable-e {
    background:url("images/transparent-pixel.png") repeat scroll right center transparent;
    background-color: #43474C;
    cursor:e-resize;
    height:100%;
    right:0;
    top:0;
    width:6px;
}

/* Main Topics page */
/* ---------------- */

.directory tr.even {
    padding-left: 6px;
    background-color: rgb(242, 242, 242);
}

/* Page titles */
/* ----------- */

div.header
{
    background-image:url('images/transparent-pixel.png');
    background-repeat:repeat-x;
    background-color: #C3C8C8;
    margin:  0px;
    border-bottom: 0px solid #C4CFE5;
}

/* Page content headings */
/* --------------------- */

h1 {
    font-size: 120%;
    margin-top: 25px;
}

/* Suppress h2s */

h2 {
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 100%;
}

/* Links */
/* ----- */

a:hover {
    text-decoration: none;
    color: rgb(240, 171, 0) !important;
}

/* Links in TOC panel */

#nav-tree a {
    font-weight: normal;
    text-decoration: none;
}

/* Links in main topics pages */

a {
    font-weight: 600;
    text-decoration: none;
}

a.el {
    font-weight: 600;
    text-decoration: none;
}

/* Notes and other admonitions */
/* --------------------------- */

blockquote {
    background-color: rgb(242, 242, 242);
	  border-left: 2px solid #43474C;
	  margin: 0 24px 0 4px;
	  padding: 0 12px 0 16px;
}

/* Tables */
/* ------ */

table.doxtable th {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #43474C;
    color: #FFFFFF;
    font-size: 110%;
    padding-bottom: 5px;
    padding-top: 5px;
}

table.doxtable td {
    border-top: none;
    border-bottom: 2px solid #A5ACAF;
    border-left: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
    padding: 5px 7px 5px;
}

#threecolumnstopalignedfirstwide tr > td:first-child
{
    vertical-align: text-top;
}

#threecolumnstopalignedfirstwide tr > td:first-child + td
{
    vertical-align: text-top;
    width: 40%;
}

#threecolumnstopalignedfirstwide tr > td:first-child + td + td
{
    vertical-align: text-top;
    width: 40%;
}

#threecolumnstopalignedfirstwide tr:first-child + tr > td:first-child
{
    width: 20%;
}

/* Images / Diagrams */
/* ----------------- */

#shadow
{
    margin: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

.image
{
    text-align: left;
    display: inline;
}

/* List items */
/* ---------- */

/* Part of an HTML hack (which makes a 'suppressed' list item appear as a paragraph) to allow images to appear inline.
   Reason is that Doxygen adds <p/> elements around images (unless they appear in a <li/> element). */

#suppressed
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Make nested ordered lists generated from HTML syntax behave like those generated from Markdown */

#loweralpha
{
    list-style-type: lower-alpha;
}

/* Text content */
/* ------------ */

ul {
    display: block;
    margin: 5px 0;
    content: " ";
}

ol {
    display: block;
    margin: 5px 0;
    content: " ";
}

li {
    margin-top: 5px;
}

br {
    display: block;
    margin: 5px 0;
    content: " ";
}

